body {
  background-image: url(./star-wars-4th-may-kt-2880x1800.jpg);
  padding: 50px 100px;
}
.card {
  display: inline-block;
  width: 300px;
  height: 200px;
  margin: 20px;

}


.card-link {
cursor: pointer;
}


.title__episode,
.id,
.text,
ul {
  color: antiquewhite;
}
